_book/*
!_book/Rguide.pdf
_bookdown_files/*

_bookdown.yml
03-chap3.Rmd
apa.csl

figure/*

index.Rmd

kap-grund.Rmd
kap-konklusion.Rmd
kap-references.Rmd
kap-visualisering.Rmd
kap-matching.Rmd
kap-ols.Rmd
reedthesis.cls
Rguide.bib
template.tex

Thumbs.db
.DS_Store
.dropbox

!.gitignore
!.gitkeep
.rbenv-version
.rvmrc